<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css" />

    <script type="text/javascript" src="{% static 'jquery-2.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-growl.min.js' %}"></script>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA_Mw2ym-T5rZQB2N7tyhfqBpZIKvZqhTI&sensor=false&libraries=drawing"></script>

    <script type="text/javascript">
        // google maps setup
        var mapOptions = {
            center: new google.maps.LatLng(24.886436490787712, -70.2685546875),
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        // bootstrap growl notifications setup
        $.growl.default_options['position'] = {
            from: "top",
            align: "center"
        };
        $.growl.default_options['delay'] = 3000
    </script>

    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Mozio</a>
            </div>

            <ul class="nav navbar-nav">
                <li ><a href="{% url 'edit' %}">Edit page</a></li>
                <li ><a href="{% url 'show' %}">Search page</a></li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>